<ion-modal-view>
  <ion-header-bar align-title="center" class="bar bar-header bar-positive">
    <button class="button button-clear button-light button-primary icon ion-chevron-left" ng-click="modalSearch.hide()">&nbspVoltar</button>
    <h1 class="title"> Escolha um Ônibus </h1>
  </ion-header-bar>
  <ion-content class="padding" ng-controller="SearchBusCtrl">
    <!--<h4>Identifique seu ônibus</h4>-->
      <div class="list" >
        <label class="item item-input item-select">
          <div class="input-label">
            <h4>Ônibus</h4>
          </div>
          <select ng-model="searchBus" ng-options="item as item.text for item in searchItems" ng-change="onSearchChange()">
          </select>
        </label>
      </div>
      <button class="button button-block button-positive" ng-click="closeSearchModal()">
         Buscar
      </button>
  </ion-content>
</ion-modal-view>
