<ion-modal-view>
  <ion-header-bar align-title="center" class="bar bar-header bar-positive">
    <button class="button button-clear button-light button-primary icon ion-chevron-left" ng-click="modalSelect.hide()">&nbspVoltar</button>
    <h1 class="title">Identifique seu Ônibus</h1>
  </ion-header-bar>
  <ion-content class="padding" ng-controller="SelectBusCtrl">
    <!--<h4>Identifique seu ônibus</h4>-->
      <div class="list">
       <label class="item item-input item-select">
         <div class="input-label">
           <h4>Ônibus</h4>
         </div>
         <select ng-model="selectBus" ng-options="item as item.text for item in selecItems" ng-change="onChange()">
         </select>
       </label>
      </div>
      <button class="button button-block button-positive" ng-click="closeSelectModal()">
         Enviar
      </button>
  </ion-content>
</ion-modal-view>
